

<main>
  <div class="messenger">
    <div class="messenger__left-column">
      <div class="profile">
        <a class="profile__link" href="./../Profile/profile.hbs">Профиль ></a>
      </div>
      <div class="search-field">
<!--        input type="text" name="search" id="search" placeholder="Поиск"-->
        {{input}}
      </div>
<!--      chatList chats=data-->
      {{chatList}}
    </div>
    <div class="messenger__right-column">
      <div class="chat">
        <div class="chat__header">
          <div class="chat-title">
            <img src="{{profileImg}}" class="chat-title__avatar">
            <h4 class="chat-title__name">{{profileName}}</h4>
          </div>
            <button class="chat-title__context-button"><img src="./../../static/contextMenu.svg" alt="context-menu-button"></button>
        </div>
        <div class="chat__history">

        </div>
        <div class="chat__bottom-panel">
          <button class="button clip-button"><img src="./../../static/grayClip.svg" alt="clip"></button>
<!--          messageInput class="message-input" name="message" id="message" placeholder="Сообщение"-->
          {{messageInput}}
          <button class="button send-button"><img src="./../../static/arrow.svg" alt="clip"></button>

        </div>
      </div>
    </div>
  </div>
</main>
