<main>
  {{{backButton}}}
  <div class="profile-container">
    <div class="profile-container__avatar">
      <img src="{{avatarSVG}}" alt="avatar">
    </div>
    <h3 class="profile-container__username">{{display_name}}</h3>
    <div class="profile-container__userinfo">
      {{{emailInput}}}
      {{{loginInput}}}
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{displayNameInput}}}
      {{{phoneInput}}}
    </div>
    <div class="profile-container__buttons">
      {{{changeInfoLink}}}
      {{{changePasswordLink}}}
      {{{logOutLink}}}
    </div>
  </div>
</main>