<label class="text-input" for={{id}}>{{ labelText }}
  {{{input}}}
  <div class="text-input__tip" id="tip_{{id}}">
    {{tip}}
  </div>
  <p class="text-input__validation" id="validate_{{id}}">{{errorMessage}}</p>
</label>
