<label class="text-input" for={{id}}>{{ labelText }}
  {{{input}}}
  <p class="text-input__tip" id="tip_{{id}}">{{tip}}</p>
  <p class="text-input__validation" id="validate_{{id}}">{{errorMessage}}</p>
</label>
