<h2 class="form-validate__title">Регистрация</h2>
<div class="form-validate__inputs">
  {{{emailInput}}}
  {{{loginInput}}}
  {{{firstNameInput}}}
  {{{secondNameInput}}}
  {{{phoneInput}}}
  {{{passwordInput}}}
  {{{repeatPasswordInput}}}
</div>
<div class="form-validate__buttons">
  {{{submitButton}}}
  {{{loginLink}}}
</div>
