<div class="text-input">
  <label for={{id}}>{{ labelText }}</label>
  <input 
    type={{type}}
    name={{name}}
    id={{id}}
    {{#if placeholder}}
      placeholder={{placeholder}}
    {{/if}}
    {{#if value}}
      value={{value}}
    {{/if}}
    >
</div>
