<div
{{#if class}}
class={{class}}
{{/if}}
>
  <textarea 
    name={{name}}
    id={{id}}
    {{#if placeholder}}
      placeholder={{placeholder}}
    {{/if}}
    {{#if value}}
      value={{value}}
    {{/if}}
    ></textarea>
</div>
